html{
    text-align: center;
}

body {
    width: 99vw;
    margin: 0;
}


canvas {
    border: solid 6px rebeccapurple;
    width: 80vw !important;
    height: 80vw !important;
    margin: auto;
}


.canvas-area {
    width: 98vw;
    /* width: 5%; */
    margin: auto;
}